h1 {
    color: blue;
}
p {
    color: green;
    text-align: center;
    margin-left: 250px;
    margin-right: 500px;
}
h2 {
    color: cyan;
    text-align: center;
}
h3 {
    color: darkviolet;
    text-align: center;
}
.first {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}