body {
    font-family: Arial, Helvetica, sans-serif;
}

.right, .bluebox {
    float: right;
}

.head {
    height: 50px;
    border: 1px solid aqua;
    padding: 20px 20px 0 20px;
    font-weight: bold;
}
.head a {
    padding: 10px;
}

a {
    text-decoration: none;
}

:link {
    color: #484646;
}

:hover {
    color: #38a8f3;
}

:visited {
    color: #1313a0;
}

.cap {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    vertical-align: 50px;
}

.hhh {
    font-size: 50px;
    font-weight: bold;
}

.p25 {
    font-size: 22px;
    width: 700px;
    color: rgb(165, 164, 164);
    word-spacing: 4px;
    line-height: 30px;
}

.text1 {
    border: 1px solid aqua;
    width: 800px;
}

.text1 a {
    font-weight: bold;
    font-size: 20px;
    padding: 40px 20px;
    display: inline-block;
}

.text1 {
    margin: 100px 0 0 60px;
}

.text1, .bluebox {
    display: inline-block;
}

#bord {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 15px;
}

.bluebox {
    background-color: #6c6cfa;
    color: white;
    margin: 100 0 0 0;
    padding: 50px 20px;
    width: 250px;
    height: 380px;
}

text-align:
margin: 
padding: 
font-size: 
font-weight:
line-height: 
border: 
border-radius