body {
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    float: right;
}

.head {
    height: 50px;
    border: 1px solid aqua;
    padding: 20px 20px 0 20px;
    font-weight: bold;
}
.head a {
    padding: 10px;
}

a {
    text-decoration: none;
}

:link {
    color: #484646;
}

:hover {
    color: #38a8f3;
}

:visited {
    color: #1313a0;
}




.hhh {
    font-size: 50px;
    font-weight: bold;
}

.p25 {
    font-size: 25px;
    width: 300px;
    color: gray;
}

.text1 {
    border: 1px solid aqua;
    width: 800px;
}

.bluebox {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #6c6cfa;
    color: blue;
}

.text1 {
    margin: 100px 0 70px 60px;
}

text-align:
margin: 
padding: 
font-size: 
font-weight:
line-height: 
border: 
border-radius