body {
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    float: right;
}

.head {
    height: 50px;
    border: 1px solid aqua;
}

.hhh {
    font-size: 50px;
}

.p25 {
    font-size: 25px;
}

text-align:
margin: 
padding: 
font-size: 
font-weight:
line-height: 
border: 
border-radius