.menu li {
    list-style: none;
    background-color: cornsilk;
    display: inline-block;
    position: relative;
}
.menu li:hover {
    background-color: darkgray;
}
.menu li a {
    text-decoration: none;
    padding: 5px 5px;
    width: 100px;
    display: block;
}
.menu li ul {
    display: none;
    position: absolute;
    padding-left: 0px;
    width: 110px;
    max-height: 110px;
    overflow: auto;
    overflow-x: hidden;
}
.menu li:hover ul {
    display: block;
}